.charity-header-wrap {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.charity-logo {
  width: 150px;
}

.charity-h1 {
  display: flex;
  margin-left: 10px;
  font-size: 50px;
}

.payment-methods-explanation-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}


//DonorForm
.donor-form-wrap {
  display: flex;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: center;
  background-color: rgb(143, 56, 143);
  box-shadow: 0 8px 6px -6px black;       
  padding: 10px;
}

.input {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 300px;
}

.donor-form-button {
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  background-color: black;
  color: white;
  box-shadow: 0 8px 6px -6px black;   
  border-radius: 30px;   
}

.donor-form-payment-section-h3 {
  display: flex;
  justify-content: center;
}

//subContent
.subcontent-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//periodForm
.period-form-page-wrap {
  display: flex;
  justify-content: center;
}

.period-form-button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  box-shadow: 0 8px 6px -6px black;   
  border-radius: 30px;
  padding: 15px;   
}

.logout-link {

}


//TABLE
.table {
  margin: auto;
  border: 2px solid black;
}

