.charity-header-wrap {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.charity-logo {
  width: 150px;
}

.charity-h1 {
  display: flex;
  margin-left: 10px;
  font-size: 50px;
}

.payment-methods-explanation-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}


//DonorForm
.donor-form-wrap {
  display: flex;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: center;
  background-color: rgb(143, 56, 143);
  box-shadow: 0 8px 6px -6px black;       
  padding: 10px;
}

.input {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 300px;
}

.donor-form-button {
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  background-color: black;
  color: white;
  box-shadow: 0 8px 6px -6px black;   
  border-radius: 30px;   
}

.donor-form-payment-section-h3 {
  display: flex;
  justify-content: center;
}

//subContent
.subcontent-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-your-donations-link {
  margin-bottom: 15px;
}


//periodForm
.period-form-page-wrap {
  display: flex;
  justify-content: center;
}

.period-form-button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  box-shadow: 0 8px 6px -6px black;   
  border-radius: 30px;
  padding: 15px;   
}

.logout-link {
    display: flex;
    justify-content: center;
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}
.logout-link:hover {
  text-decoration:none;
  text-shadow: 1px 1px 1px #555;
}


//TABLE
.table {
  margin: auto;
  border: 2px solid black;
}

.my-donations-table-header {
  display: flex;
  justify-content: center;
}

.make-another-donation-table-link {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

th {
  border: 2px solid black;
  padding: 10px;
}

td {
  border: 2px solid black;
  padding: 10px;
}

.amount {
  background-color: rgb(143, 56, 143);
}

.split {
  background-color: rgb(240, 204, 240);
}

.method {
  background-color: rgb(76, 107, 211);
}

.amount-in-table {
  background-color: rgb(162, 180, 240);
}

.donation-amount-per-day {
  background-color: rgb(203 239 210);
}

.day {
  background-color: lightpink;
}



//FORM

.form-input-empty{
  color: red;
}

.form-select {
  padding: 5px;
  width: 315px;
}

.prefill-button-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.prefill-button {
  background-color: black;
  outline: none;
  cursor: pointer;
  padding: 15px;
  color: white;
  box-shadow: 0 8px 6px -6px black;   
  border-radius: 30px;   
}